@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

h1, h2, h3, h4, h5, h6{
    font-family: 'Staatliches', cursive;
}
p, a, span{
    font-family: 'Lexend', sans-serif;
}
/*CTA*/
#CTA{
    background-color: #F3B340;
    height: 200px;
}
/*footer*/
.rs{
    color: grey;
}
.rs1:hover{
    color: #4267B2; 
}
.rs2:hover{
    color: #1DA1F2; 
}
.rs3:hover{
    color: #E1306C; 
}
.rs4:hover{
color: #225ac4; 
}
#webmaker{
    color: grey;
    text-decoration: none;
}