@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

h1, h2, h3, h4, h5, h6{
    font-family: 'Staatliches', cursive;
}
p, a, span, button, ::placeholder, label, input{
    font-family: 'Lexend', sans-serif;
}
#register-btn, #login-btn{
    color: #F3B340;
    text-decoration: none;
}
#connexion-submit{
    border: none;
    padding: 10px;
    background-color: #F3B340;
    color: white;
}
/*Header*/

/*Ecris tout concernant le header ici*/


/*About*/
#about{
    height: 100%;
    max-height: 900px;
    padding-top: 6%;
    padding-bottom: 6%;
}
/*CTA*/
#CTA{
    background-color: #F3B340;
    height: 200px;
}
#CTA h4{
    line-height: 750%;
}
#CTA a {
    line-height: 1100%;
    color: #F3B340;
    background-color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
}
/*footer*/
.rs{
    color: grey;
}
.rs1:hover{
    color: #4267B2; 
}
.rs2:hover{
    color: #1DA1F2; 
}
.rs3:hover{
    color: #E1306C; 
}
.rs4:hover{
color: #225ac4; 
}
#webmaker{
    color: grey;
    text-decoration: none;
}